<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
>
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="0"/>
        <env name="KERNEL_CLASS" value="App\Tests\Support\TestKernel" force="true"/>
        <env name="RETEST_DEFAULT_TIMEOUT_MS" value="10000"/>
    </php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
